/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
text-align: center;
margin-top: 3em;
}
.site-title {
font-weight: bold;
}
.tagline {
font-size: 1.5em;
}
.textright {
text-align: right;
}
